.productList{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
@media (max-width: 480px) {
    .productList{
        grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
        
    }
}